@charset "UTF-8";

/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*==========Body==========*/
body {
	background-color: #f4f2f2;
	font-family: 'Roboto', sans-serif;
}
.cabecalhoPrincipal {
	background-color: #000;
	padding: 20px 0;
}
.container {
	width: 94%;
	margin: 0 auto;
}
.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
	color: #ff0000;
}
.cabecalhoPrincipal-titulo span {
	color: #fff;
}
.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}
.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #000;
	background-color: #FFF;
	text-decoration: none;
	font-weight: bold;
	transition: .5s;
	display: block;
	border-bottom: 1px solid #9799A6;
}

/*==========Conteúdo Principal==========*/
.conteudoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
}
.subtitulo {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}
.conteudoPrincipal-cursos-link {
	height: 100px;
	background-color: #fff;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}
.conteudoPrincipal-cursos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.conteudoPrincipal-cursos-link:hover {
	box-shadow: 4px 4px 4px #000;
	transition: all .5s ease;
}
.conteudoPrincipal-cursos-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}
.conteudoPrincipal-cursos-link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
}
.conteudoPrincipal-cursos-link:nth-child(odd) a:before {
	background: url(../img/background2.svg) no-repeat;
}

/*==========Rodapé Principal==========*/
.rodapePrincipal {
	background-color: #000;
	padding-top: 20px;
}
.rodapePrincipal .subtitulo {
	color: #FFF;
}
.rodapePrincipal-navMap-link {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
}
.rodapePrincipal-navMap-link {
	font-size: .9em;
}
.uil-book-reader {
	color: red;
}
.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}
.navmap-list-title + .rodapePrincipal-navMap-link {
	margin-top: 0;
}
.navmap-list-title-bancoDeDados { color: #EC6E5A; border-left: 4px solid #EC6E5A; }
.navmap-list-title-framework { color: #AD85BF; border-left: 4px solid #AD85BF; }
.navmap-list-title-frontend { color: #5EC6F3; border-left: 4px solid #5EC6F3; }
.navmap-list-title-backend { color: #25D285; border-left: 4px solid #25D285; }
.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}
.rodapePrincipal-navMap-link:hover {
	color: #ff0000;
}


/*==========Media Query==========*/
@media(min-width: 769px) {
	.container {
		width: 85%;	
	}
	.subtitulo {
		text-align: left;
	}
	.cabecalhoPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}
	.cabecalhoPrincipal-nav-link:hover {
		color: #ff0000;
		font-weight: bold;
		background-color: #d3d3d3;
	}
	.cabecalhoPrincipal-titulo {
		margin: 0;
	}
	.cabecalhoPrincipal-nav {
		width: auto;
	}
	.cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}
	.conteudoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 0;
	}
	.conteudoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 0;
	}

}


/*==========Media Query==========*/
@media(min-width: 1000px) {
	.conteudoPrincipal-cursos-link {
		margin: 1.333%;
	}
	.conteudoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 1.33%;
	}
	.conteudoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}
	.conteudoPrincipal-cursos-link:nth-child(4n) {
		margin-right: 0;
	}
	.conteudoPrincipal-cursos-link:nth-child(4n+1) {
		margin-left: 0;
	}

}


